<%- include("../../views/partials/admin/header") %>
<section class="content-main">
  <div class="content-header">
    <form method="GET" action="/admin/dashboard">
      <p style="color: black;">Select Date Range:</p>
      <select name="timePeriod" onchange="this.form.submit()" style="width: 150px; height: 40px; padding-left: 20px;background-color:#328ca5;color: white;border-radius: 5px;border: none;">
        <option value="daily" <%= timePeriod === 'daily' ? 'selected' : '' %>>Daily</option>
        <option value="weekly" <%= timePeriod === 'weekly' ? 'selected' : '' %>>Weekly</option>
        <option value="monthly" <%= timePeriod === 'monthly' ? 'selected' : '' %>>Monthly</option>
        <option value="yearly" <%= timePeriod === 'yearly' ? 'selected' : '' %>>Yearly</option>
    
      </select>
      
       
    </form>
    
    
  </div>


  <div class="card mb-4" style="padding-top: 20px;  width: 100%; border: solid 1px black; align-items: center;">
    <h4>Revenue By PaymentMethod</h4>
    <div class="card-body" style="width: 50%;">
      <canvas id="myChart"></canvas>
    </div>
    

    
  </div>

  <div class="card mb-4" style="padding-top: 20px;  width: 100%; border: solid 1px black; align-items: center;">
    <h4>Count Category Oder</h4>
    <div class="card-body" style="width: 50%;">
      <canvas id="myChart2"></canvas>
    </div>

    
  </div>
  

  <div class="card mb-4" style="width: 250px; border: solid 1px black;float: left; margin-left: 70px;">
    <div class="card-header" style="text-align: center; padding: 5px; border: none;padding-top: 25px;">
      <h4 style="color: black;">Best Selling Product</h4>
    </div>
    <div class="card-body">
      <table class="table" style="border: solid 1px black; ">
        <thead style="border: solid 1px black;">
          <tr style="border: solid 1px black;">
            <th></th>
            <th>Product Name</th>
            <th>Total Sales</th>
            <th>Product price</th>
          </tr>
        </thead>
        <tbody style="border: solid 1px black;">
          <% bestsellproduct.forEach((product, index) => { %>
            <tr style="border: solid 1px black;">
              <td><%= index + 1 %></td>
              <td><%= product.productDetails ? product.productDetails.productName : "Unknown Product" %></td>
              <td><%= product.orderCount %></td>
              <td><%= product.productDetails.salePrice %></td>
            </tr>
          <% }) %>
        </tbody>
           </table>
    </div>
  </div>


  <div class="card mb-4" style="width: 250px; border: solid 1px black; float: left; margin-left: 70px;">
    <div class="card-header" style="text-align: center; padding: 5px; border: none; padding-top: 25px;">
      <h4 style="color: black;">Best Seller Brand</h4>
    </div>
    <div class="card-body">
      <table class="table" style="border: solid 1px black;">
        <thead style="border: solid 1px black;">
          <tr style="border: solid 1px black;">
            <th></th>
            <th>Brand</th>
            <th>Total Sales</th>
          </tr>
        </thead>
        <tbody style="border: solid 1px black;">
          <% bestsellerbrand.forEach((brand, index) => { %>
            <tr style="border: solid 1px black;">
              <td><%= index + 1 %></td>
              <td><%= brand.brand %></td>
              <td><%= brand.totalSales %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>



  
  <div class="card mb-4" style="width: 250px; border: solid 1px black; float: left; margin-left: 70px;">
    <div class="card-header" style="text-align: center; padding: 5px; border: none; padding-top: 25px;">
      <h4 style="color: black;">Best Seller category</h4>
    </div>
    <div class="card-body">
      <table class="table" style="border: solid 1px black;">
        <thead style="border: solid 1px black;">
          <tr style="border: solid 1px black;">
            <th></th>
            <th>category</th>
            <th>Total Sales</th>
          </tr>
        </thead>
        <tbody style="border: solid 1px black;">
          <% bestsellercategory.forEach((category, index) => { %>
            <tr style="border: solid 1px black;">
              <td><%= index + 1 %></td>
              <td><%= category.category %></td>
              <td><%= category.totalSales %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  </section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>

document.addEventListener('DOMContentLoaded', function () {

  
    const ctx = document.getElementById('myChart');
    const revenueByPaymentMethod = <%- JSON.stringify(revenueByPaymentMethod) %>; 
   
  
    const labels = Object.keys(revenueByPaymentMethod); 
    const data = Object.values(revenueByPaymentMethod); 

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Revenue by Payment Method',
            data: data,
            backgroundColor: [
    
    'rgba(255, 99, 132, 0.2)',
    
  'rgba(75, 192, 192, 0.2)',  
  'rgba(255, 206, 86, 1)', 
],
            borderColor: [
              'rgba(75, 192, 192, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(54, 162, 235, 0.2)',
              
            ],
            
            borderWidth: 2,
            barThickness: 40,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Revenue (₹)',
            },
          },
          x: {
            title: {
              display: true,
              text: 'Payment Method',
            },
          },
        },
        plugins: {
          legend: {
            display: true,
            position: 'top',
          },
        },
      },
    });
  });



document.addEventListener('DOMContentLoaded', function () {
  const ctx2 = document.getElementById('myChart2');
    const countcategoryOder = <%- JSON.stringify(countcategoryOder) %>; 
   

    const labels = Object.keys(countcategoryOder); 
    const data = Object.values(countcategoryOder); 

    new Chart(ctx2, {
      type: 'doughnut', 
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Count Category Order',
            data: data,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
                 ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              
            ],
            
            borderWidth: 2,
            barThickness: 40,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'count',
            },
          },
          x: {
            title: {
              display: true,
              text: 'Category',
            },
          },
        },
        plugins: {
          legend: {
            display: true,
            position: 'top',
          },
        },
      },
    });

})

    function showCustomDateFields(value) {
            if (value === 'custom') {
                document.getElementById('customDateFields').style.display = 'block';
            } else {
                document.getElementById('customDateFields').style.display = 'none';
            }
        }



        const today = new Date().toISOString().split('T')[0];
    document.getElementById('startDate').setAttribute('max', today);
    document.getElementById('endDate').setAttribute('max', today);

    
  </script>

<%- include("../../views/partials/admin/footer") %>

