<%- include("../../views/partials/admin/header") %>
<section class="content-main">
  <div class="content-header">
    
  </div>

  <div class="card mb-4" style="width: 350px; border: solid 1px black;">
    <div class="card-header" style="background-color: rgb(190, 156, 109);text-align: center; padding: 5px;border-bottom: solid 1px black;">
      <h4 style="color: black;">Top 10 Products by Orders</h4>
    </div>
    <div class="card-body">
      <table class="table" style="border: solid 1px black; ">
        <thead style="border: solid 1px black;">
          <tr style="border: solid 1px black;">
            <th></th>
            <th>Product Name</th>
            <th>Orders Count</th>
          </tr>
        </thead>
        <tbody style="border: solid 1px black;">
          <% productOrderCounts.forEach((product, index) => { %>
            <tr style="border: solid 1px black;">
              <td><%= index + 1 %></td>
              <td><%= product.productDetails ? product.productDetails.productName : "Unknown Product" %></td>
              <td><%= product.orderCount %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<%- include("../../views/partials/admin/footer") %>

