<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <style>
  body{
    background-color: rgb(221, 163, 86);
  }
    .profile-card {
      width: 300px;
      margin-left: 250px;
      margin-top: 10px;
      border: 4px solid black;
      text-align: center;
      padding: 20px;
      position: relative;
    }
    .edit-profile-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #000;
      transition: color 0.3s, transform 0.3s;
    }
    .edit-profile-btn:hover {
      background-color: #50fc58;
      transform: scale(1.1);
       }
  </style>
</head>
<body>

<%- include("../../views/partials/user/headerNew") %>

<div class="container mt-5" style="background-color: #00131c;  margin-top: 20px;margin-bottom: 20px;">
  <div class="row justify-content-center">
    <!-- Main Content -->
    <div class="col-md-9">
      <!-- User Details -->
      <div id="details" class="profile-card card mb-4">
        

        <!-- Profile Icon -->
        <i class="bi bi-person-circle" style="font-size: 5rem; color: #d35400"></i>
        <button class="edit-profile-btn" title="Edit Profile"></button>
          <a href="/user/editUser?id=<%=user._id%>" style="text-decoration: none; color: #050505;" class="pen">
            <i class="bi bi-pencil-fill" style="color: #d35400;"></i>
          </a>
        </button>
        <h5 class="card-title mt-3" style="text-decoration: none; font-weight: bold; color: #0a0a0a;">User Details</h5>
        
        <!-- User Information -->
        <p style="color:#070707; font-weight: bold;"> <%= user.name %></p>
        <p style="color:#0a0a0a; font-weight: bold;"> <%= user.email %></p>
        <p style="color:#0a0a0a; font-weight: bold;"> <%= user.phone %></p>
        <button style="background-color: #d35400;width: 200px;height: 50px;border: none;margin-left: 25px; color: white;"><a href="/user/changePassword" style="color: white;">Change Password</a></button>
      </div>
      
      <div style="background-color:#d35400; text-align: center; height: 100px; padding-top: 30px;margin-bottom: 20px;">
      <h5 style="font-family: unset; color: white;">share the link and get Rs.100 in your wallet </h5>
        <p style="color: white;"><i class="fa fa-copy" style="color: #515352; margin-right: 10px;"></i><%=user.referralCode%></p>
      </div>
    </div>
  </div>
</div>

<%- include("../../views/partials/user/footer") %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

